<div class="container" style="margin: auto; margin-top: 100px;">
  <input type="checkbox" id="flip">
  <div class="cover">
    <div class="front">
      <img src="/assets/Images/frontImg.jpg" alt="">
      <div class="text">
        <span class="text-1">Every new User is a <br> new adventure</span>
        <span class="text-2">Let's get connected</span>
      </div>
    </div>
    <div class="back">
      <!--<img class="backImg" src="images/backImg.jpg" alt="">-->
      <div class="text">
        <span class="text-1">Complete miles of journey <br> with Us</span>
        <span class="text-2">Let's get started</span>
      </div>
    </div>
  </div>
  <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Login</div>
        <form #Formdata="ngForm" (ngSubmit)="FormdataFun(Formdata.value)">
          <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="Enter your email" name="email" required ngModel>
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Enter your password" name="password" required ngModel>
            </div>
            <div class="text"><a href="#">Forgot password?</a></div>
            <div class="button input-box">
              <input type="submit" value="Sumbit">
            </div>
            <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
          </div>
      </form>
    </div>
      <div class="signup-form">
        <div class="title">Signup</div>
      <form #singupdata="ngForm" (ngSubmit)="singupdatafun(singupdata.value)">
          <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Enter your name" name="name" required ngModel>
            </div>
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="Enter your email" name="email" ngModel required>
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Enter your password" name="password" ngModel required>
            </div>
            <div class="button input-box">
              <input type="submit" value="Sumbit">
            </div>
            <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
          </div>
    </form>
  </div>
  </div>
  </div>
</div>